
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
html {
    font-size: 16px;
    /* font-size: 10em; */
}

.container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 200px; 
}


.container-1 p {
    font-size: 1.5em; 
}


.container-2 p {
    font-size: 1.5rem; 
}


.container-3 h1 {
    font-size: 5vw;
}
